<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="ApplicationHeight" value="850" />
    <add key="ApplicationLeft" value="210" />
    <add key="ApplicationState" value="Normal" />
    <add key="ApplicationTop" value="100" />
    <add key="ApplicationWidth" value="1500" />
    <add key="ApplicationWindowStartLoc" value="CenterScreen" />
    <add key="Login_View" value="Login_Control" />
    <add key="Motor Diagnostic Block Size" value="20" />
    <add key="ToolBar After Login" value="Work Order" />
    <add key="NavigateAuthenticationFail" value="LoginWindow" />
    <!--<add key="RST Local" value="RST Web Services" />-->
    <!--<add key="RST Production" value="RST 47 Web Services" />-->
    <!--<add key="RST Test" value="RST Web Services" />-->
    <add key="ToolBar Enabled" value="False" />
    <add key="ToolBar Visible" value="False" />
    <add key="ToolBarInsertionPoint" value="2" />
    <add key="ToolName" value="Remote Service Tool" />
    <add key="ToolSite" value="F" />
    <add key="Bug Tracking" value="This" />
    <add key="Culture" value="en-US" />
    <add key="ToolAlias" value="RST" />
    <!--<add key="Update_SART_Work_Order_Object" value="L" />-->
    <!--<add key="Get_Work_Order_List" value="L"/>-->
    <!--<add key="Select_BSA_Black_Box_HeaderCriteria" value="L"/>-->
    <!--<add key="Select_BSA_Black_Box_Data_Criteria" value="L" />-->
    <!--<add key="Select_BSA_Black_Box_Criteria" value="L" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
