<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApplicationHeight" value="850" />
    <add key="ApplicationLeft" value="210" />
    <add key="ApplicationState" value="Normal" />
    <add key="ApplicationTop" value="100" />
    <add key="ApplicationWidth" value="1500" />
    <add key="ApplicationWindowStartLoc" value="CenterScreen" />
    <add key="Login_View" value="Login_Control" />
    <add key="Motor Diagnostic Block Size" value="1" />
    <add key="ToolBar After Login" value="Work Order" />
    <add key="NavigateAuthenticationFail" value="LoginWindow" />
    <add key="SART Internal Local" value="SART Internal Web Services" />
    <add key="SART Internal Production" value="SART Internal 47 Web Services" />
    <add key="SART Internal Test" value="SART Internal Web Services" />
    <add key="ToolBar Enabled" value="False" />
    <add key="ToolBar Visible" value="False" />
    <add key="ToolBarInsertionPoint" value="2" />
    <add key="ToolName" value="SART Internal" />
    <add key="ToolSite" value="S" />
    <add key="Bug Tracking" value="This" />
    <add key="Bug Tracking Applications" value="SART Internal|Remote Service Tool" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
